
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.6rem;
}.potifolial-eCq {
  box-sizing: border-box;
  padding: 2.6rem 3.5rem 3.8rem 3.6rem;
  width: 100%;
  height: 26.6rem;
  overflow: hidden;
  position: relative;
  background-color: #121111;
}
.potifolial-eCq .gp1-1LD {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.potifolial-eCq .gp1-1LD .auto-group-8zam-B1j {
  margin-bottom: 4.7rem;
  box-sizing: border-box;
  padding: 1.6rem 4.1rem 0.2rem 7.6rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #121111;
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .auto-group-8zam-B1j .home-4bK {
  margin-right: 3.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .auto-group-8zam-B1j .about-XE1 {
  margin-right: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .auto-group-8zam-B1j .potifolial-2wT {
  margin-right: 1.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .auto-group-8zam-B1j .news-9mB {
  margin-right: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .auto-group-8zam-B1j .contact-tyf {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .hi-julienne-munganyende-am-a-software-design-im-very-passionate-and-dedicated-to-my-work-with-2years-experience-as-a-software-designer-i-have-acquired-the-skills-and-knowledge-CDf {
  margin: 0rem 0rem 1.2rem 11.8rem;
  max-width: 27.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.potifolial-eCq .gp1-1LD .auto-group-vrts-CN5 {
  margin: 0rem 13.4rem 0rem 18.8rem;
  width: calc(100% - 32.2rem);
  height: 2.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #089abb;
  border-radius: 1rem;
  flex-shrink: 0;
}
